Given the following dataframe 10 row snippet and summary data about each column, write {{ num_questions }} important questions that one can answer directly using this table in order to gain more insight about it. Avoid simple descriptive statistics questions such as finding the mean and standard deviation for a column. Make the questions straightforward and ensure they can be adequately answered with words alone. Respond only with the analysis questions, in json format, where the keys are "1" to "{{ num_questions }}".

### Snippet
{{ head }}

### Column summaries
{{ summary }}