### First 5 rows
{{ head }}

### df.describe() output
{{ describe }}

### df.dtypes output
{{ dtypes }}


Instructions
- Do NOT define your own data. 
- Only use the tools provided to you.
- Keep datatypes in mind.
- First think briefly about what plots would be most useful then plot the 2 most useful plots.
- If a plot fails, try something else or adjust it. Do not retry a plot more than once.