### First 5 rows
{{ head }}

### df.describe() output
{{ describe }}

### df.dtypes output
{{ dtypes }}

### Question to answer
{{ question }}

Instructions
- Do NOT define your own data. 
- df is already defined and available to you so use it directly.
- don't modify df directly, make a copy of it and run your analysis on the copy.
- Plotting is unavilable to you.